## Task 1.
write a code to download the data and improve its quality before it is used by the
recommendation engine

In [87]:
import requests
import os

# SharePoint zip URL
zip_url = "https://datasentics.sharepoint.com/:u:/s/EXTDataEngineerTask/EbeD2T97tahCitR2aWOh__8BpCy1DJX8lrBOPBgF6VZulQ?download=1"

local_dir = "./datasets"
if not os.path.exists(local_dir):
    os.makedirs(local_dir)

local_zip_path = os.path.join(local_dir, "data.zip")

def download_file(zip_url, local_zip_path, chunk_size=128):
    r = requests.get(zip_url, stream=True)
    if r.status_code != 200:
        print(f"Failed to download file: {r.status_code}")
        return
    with open(local_zip_path, 'wb') as fd:
        for chunk in r.iter_content(chunk_size=chunk_size):
            fd.write(chunk)
    print(f"Downloaded file to {local_zip_path}")

#download_file(zip_url, local_zip_path)

In [88]:
import zipfile
# unpack content of data.zip
with zipfile.ZipFile(local_zip_path, 'r') as zip_ref:
    zip_ref.extractall(local_dir)
    print(f"Unpacked: {local_zip_path} to {local_dir}")

Unpacked: ./datasets/data.zip to ./datasets

In [89]:
import pandas as pd
import html

ratings_df = pd.read_csv('./datasets/BX-Book-Ratings.csv', encoding='cp1251', sep=';', on_bad_lines='warn')

#books_df = pd.read_csv('./datasets/BX-Books.csv', encoding='cp1251', sep=';', on_bad_lines='warn')
#html.unescape("Peterman Rides Again: Adventures Continue with the Real \"J. Peterman\" Through Life &amp; the Catalog Business")
books_df = pd.read_csv('./datasets/BX-Books.csv', encoding='cp1251', sep=';', on_bad_lines=lambda x: html.unescape(x), engine='python')

ratings_df.head(), books_df.head()

(   User-ID        ISBN  Book-Rating
 0   276725  034545104X            0
 1   276726  0155061224            5
 2   276727  0446520802            0
 3   276729  052165615X            3
 4   276729  0521795028            6,
          ISBN                                         Book-Title  \
 0  0195153448                                Classical Mythology
 1  0002005018                                       Clara Callan
 2  0060973129                               Decision in Normandy
 3  0374157065  Flu: The Story of the Great Influenza Pandemic...
 4  0393045218                             The Mummies of Urumchi

             Book-Author  Year-Of-Publication                   Publisher  \
 0    Mark P. O. Morford                 2002     Oxford University Press
 1  Richard Bruce Wright                 2001       HarperFlamingo Canada
 2          Carlo D'Este                 1991             HarperPerennial
 3      Gina Bari Kolata                 1999        Farrar Straus Giroux
 4       E. J. W. Barber                 1999  W. W. Norton &amp; Company

                                          Image-URL-S  \
 0  http://images.amazon.com/images/P/0195153448.0...
 1  http://images.amazon.com/images/P/0002005018.0...
 2  http://images.amazon.com/images/P/0060973129.0...
 3  http://images.amazon.com/images/P/0374157065.0...
 4  http://images.amazon.com/images/P/0393045218.0...

                                          Image-URL-M  \
 0  http://images.amazon.com/images/P/0195153448.0...
 1  http://images.amazon.com/images/P/0002005018.0...
 2  http://images.amazon.com/images/P/0060973129.0...
 3  http://images.amazon.com/images/P/0374157065.0...
 4  http://images.amazon.com/images/P/0393045218.0...

                                          Image-URL-L
 0  http://images.amazon.com/images/P/0195153448.0...
 1  http://images.amazon.com/images/P/0002005018.0...
 2  http://images.amazon.com/images/P/0060973129.0...
 3  http://images.amazon.com/images/P/0374157065.0...
 4  http://images.amazon.com/images/P/0393045218.0...  )

In [90]:
zero_ratings = ratings_df[ratings_df['Book-Rating']==0]
print(f"Number of zero ratings: {len(zero_ratings)}")

# range of ratings
ratings_df['Book-Rating'].min(), ratings_df['Book-Rating'].max()

Number of zero ratings: 716109

(0, 10)

In [91]:
books_df.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

In [92]:
ratings_df.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [93]:
# Handling missing values in BX-Books.csv
books_df['Book-Author'] = books_df['Book-Author'].fillna('Unknown')
books_df['Publisher'] = books_df['Publisher'].fillna('Unknown')

# Verifying if missing values have been handled
missing_values_books = books_df.isnull().sum()

missing_values_books

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

In [94]:
print(f"Number of Unknown Book-Author: {len(books_df[books_df['Book-Author']=='Unknown'])}")
print(f"Number of Unknown Publisher: {len(books_df[books_df['Publisher']=='Unknown'])}")
print(f"Number of Unknown ISBN: {len(books_df[books_df['ISBN']=='Unknown'])}")
print(f"Number of Unknown Book-Title: {len(books_df[books_df['Book-Title']=='Unknown'])}")
print(f"Number of Unknown Year-Of-Publication: {len(books_df[books_df['Year-Of-Publication']=='Unknown'])}")
print(f"Number of Unknown Image-URL-S: {len(books_df[books_df['Image-URL-S']=='Unknown'])}")
print(f"Number of Unknown Image-URL-M: {len(books_df[books_df['Image-URL-M']=='Unknown'])}")
print(f"Number of Unknown Image-URL-L: {len(books_df[books_df['Image-URL-L']=='Unknown'])}")

Number of Unknown Book-Author: 41
Number of Unknown Publisher: 3
Number of Unknown ISBN: 0
Number of Unknown Book-Title: 0
Number of Unknown Year-Of-Publication: 0
Number of Unknown Image-URL-S: 0
Number of Unknown Image-URL-M: 0
Number of Unknown Image-URL-L: 0

In [95]:
# Year of publication outliers

def convert_year(year):
    try:
        y = int(year)
        if y > 2024 and y < 2000:
            raise Exception()
        return y
    except:
        print(f"Invalid year: {year}")
        return None

books_df['Year-Of-Publication'].apply(convert_year)

0         2002
1         2001
2         1991
3         1999
4         1999
          ...
270486    1988
270487    1991
270488    2004
270489    1996
270490    2000
Name: Year-Of-Publication, Length: 270491, dtype: int64

In [96]:
# ISBNs that are not in Ratings dataset but are in Books dataset
def compare_isbns(ratings_df, books_df):
    ratings_isbns = set(ratings_df['ISBN'].unique())
    books_isbns = set(books_df['ISBN'].unique())
    return ratings_isbns - books_isbns

missing_isbns = compare_isbns(ratings_df, books_df)

print(f"There are {len(missing_isbns)} ratings wothout corresponding ISBN in Books dataset")

There are 71268 ratings wothout corresponding ISBN in Books dataset

In [97]:
# remove irrelevant ratings
ratings_df_cleaned = ratings_df[~ratings_df['ISBN'].isin(missing_isbns)]
len(compare_isbns(ratings_df_cleaned, books_df))

0

In [98]:
books_df['Normalized-Title'] = books_df['Book-Title'].str.lower()
books_df['Normalized-Title'] = books_df['Normalized-Title'].str.replace('[^a-z ]', '', regex=True)
books_df['Normalized-Author'] = books_df['Book-Author'].str.lower()
books_df['Normalized-Author'] = books_df['Normalized-Author'].str.replace('[^a-z]', '', regex=True)

In [99]:
# Find all books with the same author and title in the corrected books DataFrame
duplicate_books = books_df[books_df.duplicated(subset=['Normalized-Title', 'Normalized-Author'], keep=False)]
print(f"Number of duplicate books: {len(duplicate_books)}")
duplicate_books = duplicate_books.sort_values(by=['Book-Title', 'Book-Author'])
duplicate_books.head(8)

Number of duplicate books: 44045

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Normalized-Title,Normalized-Author
75440,1565920465,!%@ (A Nutshell handbook),Donnalyn Frey,1994,O'Reilly,http://images.amazon.com/images/P/1565920465.0...,http://images.amazon.com/images/P/1565920465.0...,http://images.amazon.com/images/P/1565920465.0...,a nutshell handbook,donnalynfrey
155842,1565920317,!%@ (A Nutshell handbook),Donnalyn Frey,1993,O'Reilly,http://images.amazon.com/images/P/1565920317.0...,http://images.amazon.com/images/P/1565920317.0...,http://images.amazon.com/images/P/1565920317.0...,a nutshell handbook,donnalynfrey
49867,0452279186,!Yo!,Julia Alvarez,1997,Plume Books,http://images.amazon.com/images/P/0452279186.0...,http://images.amazon.com/images/P/0452279186.0...,http://images.amazon.com/images/P/0452279186.0...,yo,juliaalvarez
4398,0061057819,'48,James Herbert,1998,Eos,http://images.amazon.com/images/P/0061057819.0...,http://images.amazon.com/images/P/0061057819.0...,http://images.amazon.com/images/P/0061057819.0...,,jamesherbert
140167,0792276833,'A Hell of a Place to Lose a Cow': An American...,Tim Brookes,2000,National Geographic,http://images.amazon.com/images/P/0792276833.0...,http://images.amazon.com/images/P/0792276833.0...,http://images.amazon.com/images/P/0792276833.0...,a hell of a place to lose a cow an american hi...,timbrookes
157704,0792277295,'A Hell of a Place to Lose a Cow': An American...,Tim Brookes,2001,National Geographic,http://images.amazon.com/images/P/0792277295.0...,http://images.amazon.com/images/P/0792277295.0...,http://images.amazon.com/images/P/0792277295.0...,a hell of a place to lose a cow an american hi...,timbrookes
10426,0451168089,'Salem's Lot,Stephen King,1990,Signet Book,http://images.amazon.com/images/P/0451168089.0...,http://images.amazon.com/images/P/0451168089.0...,http://images.amazon.com/images/P/0451168089.0...,salems lot,stephenking
21973,067103975X,'Salem's Lot,Stephen King,2000,Pocket,http://images.amazon.com/images/P/067103975X.0...,http://images.amazon.com/images/P/067103975X.0...,http://images.amazon.com/images/P/067103975X.0...,salems lot,stephenking

In [100]:
# for every book that has duplicate add column with list of other ISBNs of the same boog title and author
def add_isbns_column(books_df):
    books_df['duplicates'] = books_df.groupby(['Normalized-Title', 'Normalized-Author'])['ISBN'].transform(lambda x: ','.join(x))
    return books_df

duplicate_books = add_isbns_column(duplicate_books)

duplicate_books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Normalized-Title,Normalized-Author,duplicates
75440,1565920465,!%@ (A Nutshell handbook),Donnalyn Frey,1994,O'Reilly,http://images.amazon.com/images/P/1565920465.0...,http://images.amazon.com/images/P/1565920465.0...,http://images.amazon.com/images/P/1565920465.0...,a nutshell handbook,donnalynfrey,"1565920465,1565920317"
155842,1565920317,!%@ (A Nutshell handbook),Donnalyn Frey,1993,O'Reilly,http://images.amazon.com/images/P/1565920317.0...,http://images.amazon.com/images/P/1565920317.0...,http://images.amazon.com/images/P/1565920317.0...,a nutshell handbook,donnalynfrey,"1565920465,1565920317"

In [101]:
# remove duplicates
books_df_cleaned = books_df.drop_duplicates(subset=['Normalized-Title', 'Normalized-Author'], keep='first')

# remove columns used for finding duplicates
books_df_cleaned = books_df_cleaned.drop(columns=['Normalized-Title', 'Normalized-Author'])

books_df_cleaned[books_df_cleaned['Book-Title'].str.contains("Salem's Lot")]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
10426,0451168089,'Salem's Lot,Stephen King,1990,Signet Book,http://images.amazon.com/images/P/0451168089.0...,http://images.amazon.com/images/P/0451168089.0...,http://images.amazon.com/images/P/0451168089.0...
82286,8401474566,El Misterio De Salem's Lot/Salem's Lot,Stephen King,1998,Plaza &amp; Janes Editor,http://images.amazon.com/images/P/8401474566.0...,http://images.amazon.com/images/P/8401474566.0...,http://images.amazon.com/images/P/8401474566.0...
84631,0452267218,Salem's Lot (The Stephen King collectors edition),Stephen King,1991,Penguin USA,http://images.amazon.com/images/P/0452267218.0...,http://images.amazon.com/images/P/0452267218.0...,http://images.amazon.com/images/P/0452267218.0...
174667,0609810863,Misterio De Salem's Lot,STEPHEN KING,2001,Plaza y Janes,http://images.amazon.com/images/P/0609810863.0...,http://images.amazon.com/images/P/0609810863.0...,http://images.amazon.com/images/P/0609810863.0...
212255,8401499895,El Misterio de Salem's Lot,Stephen King,1975,"Plaza &amp; Janes Editores, S.A.",http://images.amazon.com/images/P/8401499895.0...,http://images.amazon.com/images/P/8401499895.0...,http://images.amazon.com/images/P/8401499895.0...

In [102]:
isbn_map = {}

# Iterate over the unique duplicate ISBN sets
for isbn_list in duplicate_books['duplicates'].unique():
    isbn_set = isbn_list.split(',')
    # Find the primary ISBN from books_df_cleaned
    isbn_primary = next((x for x in isbn_set if x in books_df_cleaned['ISBN'].values), None)
    if isbn_primary:
        # Map other ISBNs to the primary ISBN
        for isbn in isbn_set:
            if isbn != isbn_primary:
                isbn_map[isbn] = isbn_primary

print(f"Number of ISBNs to be mapped: {len(isbn_map)}")

# Update ratings_df using the map
#ratings_df_cleaned['ISBN'] = ratings_df_cleaned['ISBN'].map(lambda x: isbn_map.get(x, x))
ratings_df_cleaned.loc[:, 'ISBN'] = ratings_df_cleaned['ISBN'].map(lambda x: isbn_map.get(x, x))

Number of ISBNs to be mapped: 25200

In [103]:
missing_isbns = compare_isbns(ratings_df_cleaned, books_df_cleaned)

print(f"There are {len(missing_isbns)} ratings wothout corresponding ISBN in Books dataset")

There are 0 ratings wothout corresponding ISBN in Books dataset

In [104]:
# save changed datasets into csv
if not os.path.exists('../backend/datasets'):
    os.makedirs('../backend/datasets')
ratings_df_cleaned.to_csv('../backend/datasets/BX-Book-Ratings-Cleaned.csv', encoding='cp1251', sep=';', index=False)
books_df_cleaned.to_csv('../backend/datasets/BX-Books-Cleaned.csv', encoding='cp1251', sep=';', index=False)

In [105]:
from pymongo import MongoClient

def saveIntoDB():
    client = MongoClient('mongodb://admin:VTttAiXTjAWxy6XK@server.ryxwaer.com:27027/DataSentics?authSource=admin')
    db = client['DataSentics']

    books_data = books_df.to_dict(orient='records')
    ratings_data = ratings_df.to_dict(orient='records')

    books_collection = db['books']
    ratings_collection = db['ratings']

    books_collection.drop()
    ratings_collection.drop()

    books_collection.insert_many(books_data)
    ratings_collection.insert_many(ratings_data)

    print("Data successfully inserted into MongoDB.")

#saveIntoDB()